@import '../../../../styles.scss';

header {
    position: relative;
    z-index: 999;
    position: sticky;
    top: -1px;
}

.nav-bar {
    background-color: white;
    height: 88px;
    padding: 0 10%;
    box-shadow: rgb(0 0 0 / 10%) 0px 0.5rem 1rem;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: auto;
        #notification:hover path {
            fill: none !important;
            stroke: $main-blue !important;
        }
        li {
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover a{
                color: $main-blue;
            }

            &:hover path{
                fill: $main-blue !important;
            }

            a {
                display: block;
                text-decoration: none;
                text-align: center;
                position: relative;
                color: gray;
                font-size: 13px;
                cursor: pointer;
                svg {
                    position: relative;
                    margin: auto !important;
                }
                .title {
                    margin-top: 10px;
                    font-weight: 600;
                }

            }
        }
    }

    &__logo-full {
        width: 20%;
    }

    &__search {
        width: 37%;
        padding: 20px;
        input {
            height: 36px;
            width: 365px;
            border: none;
            border-radius: 5px;
            background-color: #afaeae28;
            padding: 10px;

            &:focus {
                outline: none;
            }
        }
        &__input {
            border: 1px solid rgba(128, 128, 128, 0.315);
            display: flex;
            align-items: center;
            border-radius: 5px;
            height: 40px;
            &__btn {
                width: 36px;
                height: 36px;
                background-color: $main-blue;
                border-radius: 5px;
                margin: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                cursor: pointer;
            }
        }
    }

    &__item {
        width: 9%;
        &__user {
            cursor: pointer;
            position: relative;
            &__image {
                // border: 1px solid $main-blue;
                // padding: 2px;
                width: 40px;
                height: 40px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                transition: all .15s ease;
                img {
                    position: relative;
                    top: 0.5px;
                    width: 98%;
                    border-radius: 50%;
                }
            }
            &__card{
                display: none;
                text-align: center;
                padding: 10px;
                position: absolute;
                bottom: -50px;
                width: 80px;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0 0 5px 1px gray;
                cursor: pointer;
                &:hover {
                    display: block;
                }
            }
        }
        &:hover &__user__card {
            display: block;
        }
        &:hover &__user__image {
            border: 2px solid $main-blue;
            padding: 2px;
            transition: all .15s ease;
        }
    }
}