<footer>
    <div class="footer">
        <div class="footer-top">
            <div class="footer-top__item">
                <div class="footer-top__item__title">
                    Support customer
                </div>
                <div class="footer-top__item__des">
                    <a href="#">Preferential card</a>
                    <a href="#">Service Center</a>
                    <a href="#">Payment and shipping</a>
                    <a href="#">Repair and maintain services</a>
                    <a href="#">Close business</a>
                </div>
            </div>
            <div class="footer-top__item">
                <div class="footer-top__item__title">
                    Order and Guarantee policy
                </div>
                <div class="footer-top__item__des">
                    <a href="#">Genaral rules</a>
                    <a href="#">Information privacy policy</a>
                    <a href="#">Shipping and installation Policy</a>
                    <a href="#">Guarantee policy</a>
                    <a href="#">Return and refund policy</a>
                    <a href="#">Regulation price and payment methods</a>
                    <a href="#">installment policy</a>
                </div>
            </div>
            <div class="footer-top__item">
                <div class="footer-top__item__title">
                    Phong Vu infomation
                </div>
                <div class="footer-top__item__des">
                    <a href="#">Introduce Phong Vu</a>
                    <a href="#">Contact infomation</a>
                    <a href="#">Showroom system</a>
                    <a href="#">Q&A</a>
                    <a href="#">Tech news</a>
                    <a href="#">Recruitment</a>
                </div>
            </div>
            <div class="footer-top__item">
                <div class="footer-top__item__title">
                    Phong Vu community
                </div>
                <div class="footer-top__item__des footer-top__item__des--community">
                    <a href="#">
                        <img src="../../../../assets/images/footer/facebook.png" alt="">
                        Phong Vu Vietnam</a>
                    <a href="#">
                        <img src="../../../../assets/images/footer/youtube.png" alt="">
                        Phong Vu media</a>
                    <a href="#"> 
                        <img src="../../../../assets/images/footer/people.jpg" alt="">
                        Phong Vu group</a>
                    <a href="#">
                        <img src="../../../../assets/images/footer/headphone.png" alt="">
                        For purchase: &nbsp; <span class="phone"> 1800 6867</span> &nbsp; (free)</a>
                    <a href="#">
                        <img src="../../../../assets/images/footer/headphone.png" alt="">
                        For care: &nbsp; <span class="phone">1800 6865 </span> &nbsp; (free)</a>
                </div>
            </div>
            <div class="footer-top__item">
                <div class="footer-top__item__title">
                    Email contact
                </div>
                <div class="footer-top__item__des">
                    <p>Support customer:</p>
                    <a href="#" class="mail">cskh@phongvu.vn</a>
                    <p style="margin-top: 6px;">Contact for quotation:</p>
                    <a href="#" class="mail">baogia@phongvu.vn</a>
                    <p  style="margin-top: 6px;">Contact for develope:</p>
                    <a href="#" class="mail">hoptac@phongvu.vn</a>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="footer-middle__item">
                <div class="footer-middle__item__title">
                    Payment methods
                </div>
                <div class="footer-middle__item__des">
                    <a href="#">
                        <img src="../../../../assets/images/footer/qr.png" alt="">
                        <p>QR code</p>
                    </a>
                    <a href="#">
                        <img src="../../../../assets/images/footer/cash.png" alt="">
                        <p>Cash</p>
                    </a>
                    <a href="#">
                        <img src="../../../../assets/images/footer/installment.png" alt="">
                        <p>Installment</p>
                    </a>
                    <a href="#">
                        <img src="../../../../assets/images/footer/internet-banking.png" alt="">
                        <p>IBanking</p>
                    </a>
                </div>
            </div>
            <div class="footer-middle__item">
                <div class="footer-middle__item__title">
                    List of online payment bank
                </div>
                <div class="footer-middle__item__des">
                    <img src="../../../../assets/images/footer/list-of-bank.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom__item-left">
            <div class="footer-bottom__item-left__title">
                PHONG VU TRADING - SERVICE JOINT STOCK COMPANY
            </div>
            <div class="footer-bottom__item-left__des">
                &copy; 1997 - 2020 Phong Vu trading - service joint stock company <br>
                Certificate of business registration: 0304998358 issued by the Department of Planning and Investment of Ho Chi Minh City for the first time on May 30, 2007
            </div>
        </div>
        <div class="footer-bottom__item-center">
            <div>
                <div class="footer-bottom__item-center__title">
                    Head office address:
                </div>
                <div class="footer-bottom__item-center__des">
                    5th Floor, No 117-119-121 Nguyen Du, Ben Thanh Ward, 1st District, Ho Chi Minh City
                </div>
            </div>
            <div>
                <div class="footer-bottom__item-center__title">
                    Northern Executive Office:
                </div>
                <div class="footer-bottom__item-center__des">
                    6th Floor, No 1 Pho Thai Ha, Trung Liet Ward, Dong Da District, Ha Noi
                </div>
            </div>
            <div>
                <div class="footer-bottom__item-center__title">
                    Southern Executive Office:
                </div>
                <div class="footer-bottom__item-center__des">
                    11th Floor Minh Long Tower, No 17 Ba Huyen Thanh Quan, Vo Thi Sau Ward, 3nd District, Ho Chi Minh City
                </div>
            </div>
        </div>
        <div class="footer-right">
            <img src="../../../../assets/images/footer/da-dang-ky.png" alt="">
            <img src="../../../../assets/images/footer/dmca-badge-w100-2x1-02.png" alt="">
        </div>
    </div>
</footer>

