.banner {
    width: 100%;
    position: relative;
    margin: 30px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__item {
            position: relative;
            border-radius: 8px;
            width: 24%;
            height: 136px !important;

            box-sizing: border-box;
            overflow: hidden;
            img {
                position: relative;
                border-radius: 8px;
                height: 100%;
                width: 100%;
                transition: all .3s ease;

                &:hover {
                // height: 70%;
                transform: scale(1.05);
                }
            }
        }
    }
}