<div class="banner"
    style="background-image: url({{background}});">
    <div class="banner__title">
        <span>
            <ng-content></ng-content>
        </span>
    </div>
    <div class="banner__content">
        <swiper
                    [slidesPerView]="5"
                    [spaceBetween]="10"
                    [slidesPerGroup]="5"
                    [loop]="false"
                    [loopFillGroupWithBlank]="true"
                    [pagination]="{
                        clickable: false
                    }"
                    showsPagination={false}
                    [navigation]="true"
                    class="mySwiper">
                    <ng-template swiperSlide *ngFor = "let product of productList">
                        <app-product-card 
                            [image]="product.image"
                            [name]="product.name"
                            [price]="product.price"
                            [sale]=20
                            [size]="size"
                        >
                        </app-product-card>     
                    </ng-template>
        </swiper>
    </div>
</div>