* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Roboto', sans-serif !important;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    overflow-y: scroll;
    // background-color: #0f0fc5 !important;
}

$main-blue : #1434c3;
